
.vs/PRJD-ClassF-Team4/v16/Browse.VC.db
.vs/PRJD-ClassF-Team4/v16/Browse.VC.db-shm
.vs/PRJD-ClassF-Team4/v16/Browse.VC.db-wal
.vs/PRJD-ClassF-Team4/v16/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
